<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="cache-control" content="public">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="css/chat.css" />
    <!--[if lt IE 8]><script src="js/json3.min.js"></script><![endif]-->
    <script src="js/socket.io.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.qqFace.js"></script>
</head>

<body>
    <div class="page">
        <div class="online">
            <div class="long" id="screen" style="left:-0%">
                <div class="user">
                    <h3>随机私聊(<span id="count">0</span>人在线)</h3>
                    <p id="ul" class="ab-center">

                    </p>
                </div>
                <div class="chat">
                    <a href="javascript:;" class="back">返回</a>
                    <h3 id="nickname">与……聊天中...</h3>
                    <div class="content clearfix" id="content">

                    </div>
                    <div class="text">
                        <textarea id="msg" name="msg"></textarea>
                        <span class="emotion" id="emotion"></span>
                        <span class="emotion img" id="img"></span>
                        <a href="javascript:;" class="send" id="send">发送</a>
                    </div>
                    <div class="pop" id="previewBox">
                        <img src="" id="preview">
                        <a href="javascript:;" class="send" id="sendImg">发送</a>
                    </div>
                    <div class="pop" id="scan">
                        <img src="" class="ab-center" id="check">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="userName" value="<%=username%>">
    <input type="hidden" id="userId" value="<%=userId%>">
    <input type="file" accept="image/*;capture=camera" id="photo">
    <script type="text/javascript" src="js/jquery-browser.js"></script>
    <script type="text/javascript" src="chatscript/chatscript.js"></script>
</body>

</html>