<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,FreshMan Chat">
    <meta name="description" content="<%=title%>">
    <link rel="stylesheet" href="../fly-master/res/layui/css/layui.css">
    <link rel="stylesheet" href="../fly-master/res/css/global.css">
    <link href="../UEditor/SyntaxHighlighter/shCoreDefault.css" rel="stylesheet" />
    <link href="../UEditor/SyntaxHighlighter/shCoreExtend.css" rel="stylesheet" />
    <script src="../UEditor/SyntaxHighlighter/shCore.js"></script>
</head>

<body>
    <%include head.html%>
        <div class="main layui-clear">
            <div class="wrap">
                <div class="content detail">
                    <input type="hidden" id="hiddenQuestionId" value="<%=detailData.id%>" />
                    <h1>
                        <%=detailData.piFQuestionTitle%>
                    </h1>
                    <div class="fly-tip fly-detail-hint" data-id="{{rows.id}}">
                        <span class="fly-tip-stick">置顶帖</span>
                        <span class="fly-tip-jing">精帖</span>
                        <span>未结贴</span>
                        <span class="fly-tip-jie">                           <%=detailData.piFSendUserName%></span>
                        <span>
            发布于：<%=new Date(detailData.piFCreateTime).Format("yyyy-MM-dd hh:ss:mm")%>
                        </span>
                        <div class="fly-list-hint">
                            <i class="iconfont" title="回答">&#xe60c;</i>
                            <%=detailData.replyInfoList.length || 0%>
                                <i class="iconfont" title="人气">&#xe60b;</i>
                                <%=detailData.viewCount%>
                        </div>
                    </div>
                    <div class="detail-body photos" style="margin-bottom: 20px;">
                        <%-detailData.piFQuestionContent%>
                    </div>

                    <a name="comment"></a>
                    <h2 class="page-title">热忱回答<span>（<em id="jiedaCount"><%=detailData.replyInfoList.length || 0%></em>）</span></h2>

                    <ul class="jieda photos" id="jieda">
                        <%
                            if(detailData.replyInfoList && detailData.replyInfoList.length>0){
                                detailData.replyInfoList.forEach(function(item,index){%>
                            <li data-id="<%=item.id%>" class="jieda-daan">
                                <a name="item-<%=item.id%>"></a>
                                <div class="detail-about detail-about-reply fly-tip fly-tip-jie">
                                    <span><%=new Date(item.piFReplyTime).Format("yyyy-MM-dd hh:ss:mm")%></span>
                                    <span><%=item.piFuserName%></span>
                                    <!--<i class="iconfont icon-caina" title="最佳答案"></i>-->
                                </div>
                                <div class="jieda-body">
                                    <%=item.piFReplyContent%>>
                                </div>
                                <div class="jieda-reply">
                                    <!--<span class="jieda-zan zanok" type="zan">-->
                                    <span class="jieda-zan" type="zan">
                                    <i class="iconfont icon-zan"></i><em>0</em>
                                </span>
                                    <span type="reply">
                                    <i class="iconfont icon-svgmoban53"></i>回复
                                </span>
                                </div>
                            </li>
                            <%});
                                }
                                else{%>
                                <li class="fly-none">快来坐第一个沙发吧~</li>
                                <%}
                        %>
                    </ul>

                    <div class="layui-form layui-form-pane">
                        <form action="/detail/reply" method="post">
                            <div class="layui-form-item layui-form-text">
                                <input type="hidden" name="id" id="id" value="<%=detailData.id%>" />
                                <div class="layui-input-block">
                                    <% if(user && user.id>0){%>
                                        <textarea id="L_content" name="content" required lay-verify="required" placeholder="我有话要说" class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                                        <%}else{%>
                                            <textarea disabled="disabled" id="L_content" name="content" required lay-verify="required" placeholder="先登录再发表评论哦~" class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                                            <%}%>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="*" lay-submit>提交回答</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="edge">

                <h3 class="page-title">最近热帖</h3>
                <ol class="fly-list-one" id="topViewQuestionList">

                </ol>

                <h3 class="page-title">近期热议</h3>
                <ol class="fly-list-one" id="hotQuestionList">

                </ol>

            </div>
        </div>
        <%include footer.html%>
            <script>
                layui.cache.page = 'jie';
                layui.cache.user = {
                    username: '游客',
                    uid: -1,
                    avatar: '../../fly-master/res/images/avatar/00.jpg',
                    experience: 83,
                    sex: '男'
                };
                layui.config({
                    version: "1.0.0",
                    base: '../../fly-master/res/mods/'
                }).extend({
                    fly: 'index'
                }).use('fly', function() {
                    var fly = layui.fly;
                });
            </script>
            <script src="../detail/detailQuestion.js"></script>
            <script>
                addViewCountData();
            </script>
</body>

</html>