<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%=title%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,FreshMan Chat">
    <meta name="description" content="<%=title%>">
    <link rel="stylesheet" href="../fly-master/res/layui/css/layui.css">
    <link rel="stylesheet" href="../fly-master/res/css/global.css">
    <link href="../UEditor/SyntaxHighlighter/shCoreDefault.css" rel="stylesheet" />
    <link href="../UEditor/SyntaxHighlighter/shCoreExtend.css" rel="stylesheet" />
    <script src="../UEditor/SyntaxHighlighter/shCore.js"></script>
</head>

<body>
    <%include head.html%>
        <div class="main layui-clear">
            <div class="wrap">
                <div class="content detail">
                    <h1>
                        <%=detailData.piFQuestionTitle%>
                    </h1>
                    <div class="fly-tip fly-detail-hint" data-id="{{rows.id}}">
                        <span class="fly-tip-stick">置顶帖</span>
                        <span class="fly-tip-jing">精帖</span>
                        <span>未结贴</span>
                        <span class="fly-tip-jie">                           <%=detailData.piFSendUserName%></span>
                        <span>
            发布于：<%=new Date(detailData.piFCreateTime).Format("yyyy-MM-dd hh:ss:mm")%>
                        </span>
                        <div class="fly-list-hint">
                            <i class="iconfont" title="回答">&#xe60c;</i> 517
                            <i class="iconfont" title="人气">&#xe60b;</i> 98032
                        </div>
                    </div>
                    <div class="detail-body photos" style="margin-bottom: 20px;">
                        <%-detailData.piFQuestionContent%>
                    </div>

                    <a name="comment"></a>
                    <h2 class="page-title">热忱回答<span>（<em id="jiedaCount">18</em>）</span></h2>

                    <ul class="jieda photos" id="jieda">
                        <li data-id="12" class="jieda-daan">
                            <a name="item-121212121212"></a>
                            <div class="detail-about detail-about-reply fly-tip fly-tip-jie">
                                <span>3分钟前</span>
                                <span>纸飞机</span>
                                <!--<i class="iconfont icon-caina" title="最佳答案"></i>-->
                            </div>
                            <div class="jieda-body">
                                <p>么么哒</p>
                            </div>
                            <div class="jieda-reply">
                                <span class="jieda-zan zanok" type="zan">
                                    <i class="iconfont icon-zan"></i><em>12</em>
                                </span>
                                <span type="reply">
                                    <i class="iconfont icon-svgmoban53"></i>回复
                                </span>
                            </div>
                        </li>

                        <li data-id="13">
                            <a name="item-121212121212"></a>
                            <div class="detail-about detail-about-reply">
                                <a class="jie-user" href="">
                                    <img src="../../res/images/avatar/default.png" alt="">
                                    <cite>
                <i>香菇</i>
                <em style="color:#FF9E3F">活雷锋</em>
              </cite>
                                </a>
                                <div class="detail-hits">
                                    <span>刚刚</span>
                                </div>
                            </div>
                            <div class="detail-body jieda-body">
                                <p>蓝瘦</p>
                            </div>
                            <div class="jieda-reply">
                                <span class="jieda-zan" type="zan"><i class="iconfont icon-zan"></i><em>0</em></span>
                                <span type="reply"><i class="iconfont icon-svgmoban53"></i>回复</span>
                                <div class="jieda-admin">
                                    <span type="edit">编辑</span>
                                    <span type="del">删除</span>
                                    <span class="jieda-accept" type="accept">采纳</span>
                                </div>
                            </div>
                        </li>

                        <!-- <li class="fly-none">没有任何回答</li> -->
                    </ul>

                    <div class="layui-form layui-form-pane">
                        <form action="/detail/reply" method="post">
                            <div class="layui-form-item layui-form-text">
                                <input type="hidden" name="id" id="id" value="<%=detailData.id%>" />
                                <div class="layui-input-block">
                                    <% if(user && user.id>0){%>
                                        <textarea id="L_content" name="content" required lay-verify="required" placeholder="我有话要说" class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                                        <%}else{%>
                                            <textarea disabled="disabled" id="L_content" name="content" required lay-verify="required" placeholder="先登录再发表评论哦~" class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                                            <%}%>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="*" lay-submit>提交回答</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="edge">

                <h3 class="page-title">最近热帖</h3>
                <ol class="fly-list-one">
                    <li>
                        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
                        <span><i class="iconfont">&#xe60b;</i> 6087</span>
                    </li>
                    <li>
                        <a href=" ">Java实现LayIM后端的核心代码</a>
                        <span><i class="iconfont">&#xe60b;</i> 767</span>
                    </li>
                    <li>
                        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
                        <span><i class="iconfont">&#xe60b;</i> 767</span>
                    </li>
                    <li>
                        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
                        <span><i class="iconfont">&#xe60b;</i> 767</span>
                    </li>
                    <li>
                        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
                        <span><i class="iconfont">&#xe60b;</i> 767</span>
                    </li>
                    <li>
                        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
                        <span><i class="iconfont">&#xe60b;</i> 767</span>
                    </li>
                    <li>
                        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
                        <span><i class="iconfont">&#xe60b;</i> 767</span>
                    </li>
                    <li>
                        <a href=" ">Layui 官网 在线演示页面 全面增加 查看代码 功能</a>
                        <span><i class="iconfont">&#xe60b;</i> 767</span>
                    </li>
                </ol>

                <h3 class="page-title">近期热议</h3>
                <ol class="fly-list-one">
                    <li>
                        <a href=" ">盛赞！大赞狂赞！Layui完美兼容Vue.js</a>
                        <span><i class="iconfont">&#xe60c;</i> 96</span>
                    </li>
                    <li>
                        <a href=" ">盛赞！大赞狂赞！Layui完美兼容Vue.js</a>
                        <span><i class="iconfont">&#xe60c;</i> 96</span>
                    </li>
                    <li>
                        <a href=" ">盛赞！大赞狂赞！Layui完美兼容Vue.js</a>
                        <span><i class="iconfont">&#xe60c;</i> 96</span>
                    </li>
                    <li>
                        <a href=" ">盛赞！大赞狂赞！Layui完美兼容Vue.js</a>
                        <span><i class="iconfont">&#xe60c;</i> 96</span>
                    </li>
                    <li>
                        <a href=" ">盛赞！大赞狂赞！Layui完美兼容Vue.js</a>
                        <span><i class="iconfont">&#xe60c;</i> 96</span>
                    </li>
                    <li>
                        <a href=" ">盛赞！大赞狂赞！Layui完美兼容Vue.js</a>
                        <span><i class="iconfont">&#xe60c;</i> 96</span>
                    </li>
                    <li>
                        <a href=" ">Java实现LayIM后端的核心代码</a>
                        <span><i class="iconfont">&#xe60c;</i> 96</span>
                    </li>
                    <li>
                        <a href=" ">Java实现LayIM后端的核心代码</a>
                        <span><i class="iconfont">&#xe60c;</i> 96</span>
                    </li>
                </ol>

            </div>
        </div>
        <%include footer.html%>
            <script>
                layui.cache.page = 'jie';
                layui.cache.user = {
                    username: '游客',
                    uid: -1,
                    avatar: '../../fly-master/res/images/avatar/00.jpg',
                    experience: 83,
                    sex: '男'
                };
                layui.config({
                    version: "1.0.0",
                    base: '../../fly-master/res/mods/'
                }).extend({
                    fly: 'index'
                }).use('fly', function() {
                    var fly = layui.fly;
                });
            </script>
</body>

</html>